header {
    background-color: #43b9aa;
}

.encabezado {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
}

.encabezado li {
    display: inline-flex;
    padding-left: 15px;
}

.encabezado a {
    text-decoration: none;
    /*color: white;*/
}

