body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #005c50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline;
    margin: 0 15px;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: 400ms;
}

.nav-link:hover {
    color: #34d45a;
    font-size: 20px;
    transition: 400ms;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.categorias,
.productos,
.detalle-producto,
.carrito {
    padding: 20px;
}

.grid-categorias,
.grid-productos {
    display: inline-flex;
    gap: 20px;
}

.categoria img,
.producto img {
    width: 350px;
    height: auto;
    transition: opacity 0.3s;
    transition: 400ms;
}

.categoria:hover img,
.producto:hover img {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 400ms;
    box-shadow: black 0px 0px 10px 0px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.toggle-button {
    background-color: #2ebb4f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 400ms;
}

.toggle-button:hover {
    background-color: #26993f;
    transition: 350ms;
    transform: scale(1.05);
}

.tabcontent {
    display: none;
}

.tablink.active {
    background-color: #ccc;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #005c50;
    color: white;
}

/* From Uiverse.io by david-mohseni */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    padding-left: 0px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}


.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

.header.dark-mode {
    background-color: #1e1e1e;
}

.footer.dark-mode {
    background-color: #1e1e1e;
}

.toggle-button.dark-mode {
    background-color: #bb86fc;
}

.toggle-button.dark-mode:hover {
    background-color: #8661b4;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transition: opacity 0.5s;
}

.notification.show {
    display: block;
    opacity: 1;
}